[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=procedural_generator
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Procedural Generator
Comment=Procedural Generator for pixel art based on opacity value.
